<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Driver</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="card-container">
    <ion-card *ngFor="let item of driverList">
      <ion-card-header>
        <ion-card-title>{{ item.name }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        ID: {{ item.id }}
        Email: {{ item.email }}
        Phone: {{ item.phone }}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>