<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Client</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="card-container">
    <ion-card *ngFor="let item of clientList">
      <ion-card-header>
        <ion-card-title>{{ item.name }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p><strong>ID:</strong> {{ item.id }}</p>
        <p><strong>Name:</strong> {{ item.name }}</p>
        <p><strong>Email:</strong> {{ item.email }}</p>
        <p><strong>Phone:</strong> {{ item.phone }}</p>
        <p><strong>Address:</strong> {{ item.address }}</p>
        <p><strong>City:</strong> {{ item.city }}</p>
        <p><strong>Country:</strong> {{ item.country }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
